<div class="header">
    <img src="/assets/Amazon logo.png" alt="">
    <div class="country">
        <p class="smaller">Deliver to</p>
        <p class="large">India</p>
    </div>
    <form action="">
        <input type="search">
        <button>search</button>
    </form>
    <div class="language">
        <p>English</p>
    </div>
    <div class="list">
        <p class="smaller">Hello,Sign in</p>
        <p class="large">Accounts & List</p>
    </div>
    <div class="return">
        <p class="smaller">Returns</p>
        <p class="large">&Orders</p>
    </div>
    <div class="cart">
        <p class="large">Cart</p>
    </div>
</div>