.container{
    display: flex;
    justify-content: start;
    background-color: #232f3e;
    color: white;
    font-size: 14px;
    width: 100%;
}
.list{
    margin: 4px;
    padding: 8px;
    border: 1px solid #232f3e;

}
.list:hover{
    cursor: pointer;
    border: 1px solid white;
}