.container{
    display: flex;
    justify-content: start;
    font-size: 12px;
    background-color: rgb(235, 233, 233);
    width: 100%;
   
}
.list{
    margin: 4px;
    padding: 8px;
    border-bottom: 2px solid rgb(235, 233, 233);
}
.list:hover{
    color: #febd69 ;
    border-bottom: 2px solid #febd69;
    cursor: pointer;
}