.container {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(216, 215, 215);
    width: max-content;
}
.bold{
    font-weight: 700;
}
.catCard{
    margin: 4px;
    padding: 8px;
    
}
label{
    margin: 4px;
    font-size: 14px;
}
p{
    font-size: 18px;
    margin: 8px 0px;
}
label:hover{
    color: rgb(61, 61, 243);
    cursor: pointer;
}