<div class="container">
    <div class="catCard">
        <p class="bold">Department </p>
        <div class="filterCat" *ngFor="let item of List">

            <input type="checkbox">
            <label for="">{{item}}</label>


        </div>
    </div>
    <div class="catCard">
        <p class="bold">Price </p>
        <div class="filterCat" *ngFor="let item of Price">

            <input type="checkbox">
            <label for="">{{item}}</label>


        </div>
    </div>
    <div class="catCard">
        <p class="bold">Discounts</p>
        <div class="filterCat" *ngFor="let item of Discount">

            <input type="checkbox">
            <label for="">{{item}}</label>


        </div>
    </div>
    


</div>